body{
    background-color:blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0px;
}
.top{
    background:steelblue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    padding:0 45px;
    flex-wrap: wrap;
}
.nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-in-out;

}
.nav a:hover{
    color:thistle;
    transform: rotate(7deg);
}
.nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

}
.nav li{
    margin-left: 20px;
}
.hero {
    background: palevioletred;
    padding: 60px 45px;
    display: flex;
    justify-content:center;
    color:mintcream;
}
.innerhero {
    max-width: 750px;
    font-family: lobster;
}
.hero h1{
    font-size: 4rem;
    font-weight: normal;
    margin:0px;
    
}
.hero p{
    font-size: 2rem;
    margin: 0px;
    line-height: 1.5;
}
.hero a{
    background:blue;
    color:white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 9px;
    display: inline-block;
}
.features {
    background:lightsteelblue;
    padding: 60px 45px;
}
.features-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 45px;
}
.featured-item h3{
    color:mediumblue;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}
.featured-item p{
    margin:0;
    line-height: 1.3;
}
.footer{
    text-align: center;
    padding: 20px 0;
    background: grey;
    color:khaki;
}
.logo{
    text-indent: -9999999999;
}